@using VM_MVC.Models;
@model MovieInfo
@{
    ViewBag.Title = Model.Name;
}

<div class="ProductDetail">
    @{ 
        MvcHtmlString htmlString = new MvcHtmlString(Model.Story);
    }
    <img src="@Url.Content(Model.Poster)" class="poster" alt="@Model.Name"/>
    <div class="title">@Model.Name</div>
</div>


