@using VM_MVC.Models;
@model IEnumerable<GeneralMovieInfo>

@{ 
    PagingInfo pagingInfo = new PagingInfo
    {
        PageIndex = (int)ViewBag.PageIndex,
        RecordCount = (int)ViewBag.RecordCount
    };

    Func<int, UrlHelper, string> pageUrlAccessor = (Func<int, UrlHelper, string>)ViewBag.PageUrlAccessor;
}

@*<div class="paging">
    @Html.PageLinks(pagingInfo, pageIndex=>pageUrlAccessor(pageIndex, Url))
</div>*@

<div class="products">
        @for (int i = 0; i < this.Model.Count(); i++)
        {
            <span>
                @{
                    ViewBag.Index = (pagingInfo.PageIndex -1) * pagingInfo.PageCount + i + 1;
                }
                @Html.DisplayFor(m => this.Model.ToList()[i])
            </span>
            <hr id ="line"/>
        }
</div>

<div class="paging">
    @Html.PageLinks(pagingInfo, pageIndex => pageUrlAccessor(pageIndex, Url))
</div>

